@{
    ViewBag.Title = "CheckModify";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section head{
    <style>
        .bigestdiv {
            margin-bottom: 50px;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 50px;
        }

        .title { float: left; }
    </style>
}
<div class="bigestdiv">
    @{
        if (ViewBag.ok == 0)
        {
            <div class="ui orange inverted segment" align="center">
                <h1 class="ui  header ">此方案暂时没有更改信息！</h1>
            </div>
        }
        else
        {
            <div class="ui segments">
                <div class="ui segment">
                    <p style="font-size: 30px; text-align: center;">检测方案</p>
                </div>

                <div class="ui segment">
                    <p class="title">检测产品：</p>
                    <p>@ViewBag.productname</p>
                </div>
                <div class="ui segment">
                    <p class="title">生产商：</p>
                    <p>@ViewBag.company</p>
                </div>

                <div class="ui segment">
                    <p class="">批次数量信息：</p>
                </div>

                <div class="ui segments">
                    @foreach (var temp in ViewBag.list)
                    {
                        <div class="ui segment">
                            <p class="title">@temp.BatchName：</p>
                            <p>@temp.Count</p>
                            <p>检测等级：@temp.Level</p>
                        </div>
                    }



                </div>


                <div class="ui segment">
                    <p>检查级别：</p>

                </div>
                <div class="ui segments">
                    <div class="ui horizontal segments">
                        <div class="ui segment">
                            <p>@ViewBag.l.L1</p>
                        </div>
                        <div class="ui segment">
                            <p>@ViewBag.l.L2</p>
                        </div>
                    </div>
                </div>


                <table class="ui segments celled table ">
                    <thead>
                    <tr>
                        <th>参考项目</th>
                        <th>范围</th>
                        <th>否决项</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var t in ViewBag.detectionlist)
                    {
                        <tr>
                            <td>@t.Name</td>
                            <td>@t.Range</td>
                            <td>@(t.Denney ? "是" : "否")</td>
                        </tr>
                    }

                    </tbody>
                </table>

                <table class="ui segments celled table ">
                    <thead>
                    <tr>
                        <th>检测项目 </th>
                        <th>时间</th>
                        <th>价钱</th>

                    </tr>
                    </thead>
                    <tbody id="tbody">
                    @{
                        foreach (var schemetemp in ViewBag.schemelist)
                        {
                            <tr>
                                <td class="scheme">@schemetemp</td>
                                <td></td>
                                <td></td>


                            </tr>
                        }
                    }

                    </tbody>
                    @*<tfoot class="full-width">
                        <tr>

                            <th colspan="4">
                                <div class="ui blue button" onclick="Add()">添加新项</div>


                            </th>

                        </tr>

                    </tfoot>*@
                </table>

                <div class="ui segment form">

                    <div class="field">
                        <div class="3 fields">
                            <div class="field" style="">
                                <p style="margin: 0 auto">确定检测时间：</p>
                            </div>
                            <div class="field">
                                <input id="time" style="height: 25px" type="text" placeholder="" value="@ViewBag.model.Time">
                            </div>

                        </div>
                    </div>


                </div>


                <div class="ui segment form">

                    <div class="field">
                        <div class="3 fields">
                            <div class="field" style="">
                                <p style="margin: 0 auto">用户检测报价：</p>
                            </div>
                            <div class="field">
                                <input id="q1" style="height: 25px" type="text" name="shipping[first-name]" placeholder="" value="@ViewBag.model.UserQuote">
                            </div>

                        </div>
                    </div>


                </div>

                <div class="ui segment form">

                    <div class="field">
                        <div class="3 fields">
                            <div class="field" style="">
                                <p style="margin: 0 auto">检测机构报价：</p>
                            </div>
                            <div class="field">
                                <input id="q2" style="height: 25px" type="text" name="shipping[first-name]" placeholder="" value="@ViewBag.model.OrganQuote">
                            </div>

                        </div>
                    </div>


                </div>

                <div class="ui segment">
                    <p class="">用户修改意见：</p>
                </div>

                <div class="ui segments">
                    @foreach (var temp in ViewBag.mlist)
                    {
                        <div class="ui warning  message">
                            <div class="header">@temp.User： </div>
                            <ul class="list">
                                <li>@temp.Modify</li>

                            </ul>
                        </div>
                    }



                </div>


                <div class="ui segment" align="center">
                    <button class="ui button green" id="btn" style="margin: 0 auto; width: 30%">确定修改</button>
                </div>
            </div>
            <input id="checknum" style="display: none" value="@ViewBag.model.Id"/>
        }
    }

</div>

@section scripts{
    <script>
        var namelist = [];

        function WriteList() {
            var list = $(".scheme");
            $.each(list, function() {
                namelist.push($(this).html());
            });
        }

        WriteList();

        function GetSGSInfo() {
            var id = @ViewBag.sgsid;
            $.ajax({
                type: 'Get',
                url: '/DetectionScheme/GetSgsInfo/' + id,
                success: function(data) {
                    if (data.length == 0) {
                        alert("检测中心信息错误,请更换检测中心或联系管理员!");
                    } else {
                        var trlist = $("#tbody").find("tr");
                        trlist.each(function(i) {
                            var td1 = $(this).find("td").eq(0).html();
                            var td2 = $(this).find("td").eq(1);
                            var td3 = $(this).find("td").eq(2);

                            $.each(data, function(index, item) {
                                if (item.Name == td1) {
                                    td2.html(item.Days);
                                    td3.html(item.Price);
                                }
                            });

                        });
                    }
                },
                dataType: "json"
            });
        }

        GetSGSInfo();

        var $tbody = $('table tbody');
        $tbody.click(function(event) {
            var $t = $(event.target);
            if ($t.is('.icon.ttt')) {
                var v = $t.parents('tr').find("td").eq(0).html();
                var index = $.inArray(v, namelist);

                namelist.splice(index, 1);
                $t.parents('tr').remove();
            }
        });

        $("#btn").click(function() {

            var r = confirm("确定修改？");
            if (r == true) {
                var q1 = $("#q1").val();
                var q2 = $("#q2").val();
                var time = $("#time").val();
                var c = $("#checknum").val();
                $.ajax({
                    url: '../DetectionScheme/ModifyDetectionScheme',
                    type: 'post',
                    data: { detectionid: c, quser: q1, qother: q2, time: time },

                    error: function() {
                        alert('error');
                    },
                    success: function(data) {
                        alert("发送成功");
                        top.location = '/Trade/Trades';
                    }
                });
            }


        });
    </script>
}