@{
    ViewBag.Title = "CheckModify";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section head{
    <style>
        .bigestdiv {
            margin-bottom: 50px;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 50px;
        }

        .title { float: left; }
    </style>
}
<div class="bigestdiv">
    @{
        if (ViewBag.ok == 0)
        {
            <div class="ui orange inverted segment" align="center">
                <h1 class="ui  header ">此方案暂时没有更改信息！</h1>
            </div>
        }
        else
        {
            <div class="ui segments">
                <div class="ui segment">
                    <p style="font-size: 30px; text-align: center;">检测方案</p>
                </div>

                <div class="ui segment">
                    <p class="title">检测产品：</p>
                    <p>@ViewBag.productname</p>
                </div>
                <div class="ui segment">
                    <p class="title">生产商：</p>
                    <p>@ViewBag.company</p>
                </div>

                <div class="ui segment">
                    <p class="">批次数量信息：</p>
                </div>

                <div class="ui segments">
                    @foreach (var temp in ViewBag.list)
                    {
                        <div class="ui segment">
                            <p class="title">@temp.BatchName：</p>
                            <p>@temp.Count</p>
                            <p>检测等级：@temp.Level</p>
                        </div>
                    }



                </div>


                <div class="ui segment">
                    <p>检查级别：</p>

                </div>
                <div class="ui segments">
                    <div class="ui horizontal segments">
                        <div class="ui segment">
                            <p>@ViewBag.l.L1</p>
                        </div>
                        <div class="ui segment">
                            <p>@ViewBag.l.L2</p>
                        </div>
                    </div>
                </div>


                <div class="ui segment">
                    <p class="title">检测时间范围：</p>
                    <p class="title">@ViewBag.model.MinTime 天</p>
                    <p class="title">~</p>
                    <p>@ViewBag.model.MaxTime 天</p>

                </div>

                <div class="ui segment form">

                    <div class="field">
                        <div class="3 fields">
                            <div class="field" style="">
                                <p style="margin: 0 auto">确定检测时间：</p>
                            </div>
                            <div class="field">
                                <input id="time" style="height: 25px" type="text" placeholder="" value="@ViewBag.model.Time">
                            </div>

                        </div>
                    </div>


                </div>

                <div class="ui segment">
                    <p class="title">检测报价范围：</p>
                    <p class="title">@ViewBag.model.MinQuote</p>
                    <p class="title">~</p>
                    <p>@ViewBag.model.MaxQuote</p>

                </div>


                <div class="ui segment form">

                    <div class="field">
                        <div class="3 fields">
                            <div class="field" style="">
                                <p style="margin: 0 auto">用户检测报价：</p>
                            </div>
                            <div class="field">
                                <input id="q1" style="height: 25px" type="text" name="shipping[first-name]" placeholder="" value="@ViewBag.model.UserQuote">
                            </div>

                        </div>
                    </div>


                </div>

                <div class="ui segment form">

                    <div class="field">
                        <div class="3 fields">
                            <div class="field" style="">
                                <p style="margin: 0 auto">检测机构报价：</p>
                            </div>
                            <div class="field">
                                <input id="q2" style="height: 25px" type="text" name="shipping[first-name]" placeholder="" value="@ViewBag.model.OrganQuote">
                            </div>

                        </div>
                    </div>


                </div>

                <div class="ui segment">
                    <p class="">用户修改意见：</p>
                </div>

                <div class="ui segments">
                    @foreach (var temp in ViewBag.mlist)
                    {
                        <div class="ui warning  message">
                            <div class="header">@temp.User： </div>
                            <ul class="list">
                                <li>@temp.Modify</li>

                            </ul>
                        </div>
                    }



                </div>


                <div class="ui segment" align="center">
                    <button class="ui button green" id="btn" style="margin: 0 auto; width: 30%">确定修改</button>
                </div>
            </div>
            <input id="checknum" style="display: none" value="@ViewBag.model.Id"/>
        }
    }

</div>

@section scripts{
    <script>
        $("#btn").click(function() {

            var r = confirm("确定修改？");
            if (r == true) {
                var q1 = $("#q1").val();
                var q2 = $("#q2").val();
                var time = $("#time").val();
                var c = $("#checknum").val();
                $.ajax({
                    url: '../DetectionScheme/ModifyDetectionScheme',
                    type: 'post',
                    data: { detectionid: c, quser: q1, qother: q2, time: time },

                    error: function() {
                        alert('error');
                    },
                    success: function(data) {
                        alert("发送成功");
                        top.location = '/Trade/Trades';
                    }
                });
            }


        });
    </script>
}