
@{
    ViewBag.Title = "SeeDetectionScheme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section head{
    <style>
        .bigestdiv {
            margin-bottom: 50px;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 50px;
        }

        .title {
            float: left;
        }
    </style>
}
<div class="bigestdiv">

    @{
        if (ViewBag.ok == 1)
        {
            <div class="ui orange inverted segment" align="center">
                <h1 class="ui  header ">@ViewBag.message！</h1>
            </div>
        }
        else
        {
            <div class="ui segments">
                <div class="ui segment">
                    <p style="font-size: 30px; text-align: center;">检测方案</p>
                </div>

                <div class="ui segment">
                    <p class="title">检测产品：</p>
                    <p>@ViewBag.productname</p>
                </div>
                <div class="ui segment">
                    <p class="title">生产商：</p>
                    <p>@ViewBag.company</p>
                </div>

                <div class="ui segment">
                    <p class="">批次数量信息：</p>
                </div>

                <div class="ui segments">
                    @foreach (var temp in ViewBag.list)
                    {
                        <div class="ui segment">
                            <p class="title">@temp.BatchName：</p>
                            <p>@temp.Count</p>
                            <p>检测等级：@temp.Level</p>
                        </div>
                    }



                </div>


                <div class="ui segment">
                    <p>检查级别：</p>

                </div>
                <div class="ui segments">
                    <div class="ui horizontal segments">
                        <div class="ui segment">
                            <p>@ViewBag.l.L1</p>
                        </div>
                        <div class="ui segment">
                            <p>@ViewBag.l.L2</p>
                        </div>
                      
                    </div>
                </div>


                <table class="ui celled table ">
                    <thead>
                        <tr>
                            <th>检测项目</th>
                            <th>天数</th>
                            <th>价格</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>酒精度</td>
                            <td>2</td>
                            <td>21</td>
                        </tr>
                        <tr>
                            <td>蛋白质</td>
                            <td>2</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <td>含糖量</td>
                            <td>3</td>
                            <td>57</td>
                        </tr>
                        <tr>
                            <td>价钱总计</td>
                            <td></td>
                            <td>96</td>
                        </tr>

                    </tbody>
                </table>

                <div class="ui segment form">

                    <div class="inline field">
                        <label>确定检测时间：</label>
                        <input id="time" type="text" placeholder="" disabled  value="@ViewBag.model.Time">

                    </div>
                </div>

            


                <div class="ui segment form">
                    <div class="inline field">
                        <label>用户检测报价：</label>
                        <input id="q1" type="text" name="" placeholder="" disabled value="@ViewBag.model.UserQuote">

                    </div>
                </div>

                <div class="ui segment form">
                    <div class="two fields">
                        <div class="inline field">
                            <label>检测机构报价：</label>
                            <input id="q2" type="text" name="shipping[first-name]" disabled placeholder="" value="@ViewBag.model.OrganQuote">
                        </div>
                        <div class="inline field">
                            <label>选择检测机构：</label>
                            <select id="sgs" disabled padding 0">
                            
                                   
                                        <option value=>@ViewBag.sgs</option>
                                  
                           

                            </select>

                        </div>
                    </div>

                </div>


              
            </div>
            <input id="checknum" style="display: none" value="@ViewBag.model.Trade.Id" />
            <input id="tradeid" style="display: none" value="@ViewBag.tradeid" />
                                    }
    }

</div>


