@{
    ViewBag.Title = "SignContract";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section head{
    <style>
        .bigestdiv {
            margin-bottom: 50px;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 50px;
        }

        .title { float: left; }
    </style>
}
<div class="bigestdiv">
    @{
        if (ViewBag.ok == 0)
        {
            <div class="ui orange inverted segment" align="center">
                <h1 class="ui  header ">此合同不在修改状态！</h1>
            </div>
        }
        else
        {
            <div class="ui segments">
                <div class="ui segment">
                    <p style="font-size: 30px; text-align: center;">管控合同</p>
                </div>

                <div class="ui segment">
                    <p class="title">检测产品：</p>
                    <p>@ViewBag.productname</p>
                </div>
                <div class="ui segment">
                    <p class="title">生产商：</p>
                    <p>@ViewBag.company</p>
                </div>

                <div class="ui segment">
                    <p class="">批次数量信息：</p>
                </div>

                <div class="ui segments">
                    @foreach (var temp in ViewBag.list)
                    {
                        <div class="ui segment">
                            <p class="title">@temp.BatchName：</p>
                            <p>@temp.Count</p>
                        </div>
                    }


                </div>


                <div class="ui segment">
                    <p>检查级别：</p>

                </div>

                <div class="ui segments">
                    <div class="ui horizontal segments">
                        <div class="ui segment">
                            <p>@ViewBag.l.L1</p>
                        </div>
                        <div class="ui segment">
                            <p>@ViewBag.l.L2</p>
                        </div>
                        <div class="ui segment">
                            <p>@ViewBag.l.l3</p>
                        </div>
                    </div>
                </div>

                <div class="ui segment ">

                    <div class="field">
                        <div class="3 fields">
                            <div class="field" style="">
                                <p style="margin: 0 auto" class="title">检测时间：</p>
                            </div>
                            <div class="field">
                                <p style="margin: 0 auto">@ViewBag.model.Time 天</p>
                            </div>


                        </div>
                    </div>


                </div>

                <div class="ui segment form">

                    <div class="field">
                        <div class="3 fields">
                            <div class="field" style="">
                                <p style="margin: 0 auto">检测报价：</p>
                            </div>
                            <div class="field">
                                @{
                                    if (ViewBag.u == 0)
                                    {
                                        <p style="margin: 0 auto">@ViewBag.model.UserQuote </p>
                                    }
                                    else
                                    {
                                        <p style="margin: 0 auto">@ViewBag.model.OrganQuote </p>
                                    }
                                }


                            </div>


                        </div>
                    </div>


                </div>
                @if (ViewBag.disable == 0)
                {
                    <div class="ui segment form">
                        <div class="field">
                            <p class="title">更改意见：</p>
                        </div>
                        <div class="">
                            <textarea id="modify"></textarea>
                        </div>
                    </div>
                }

                <div class="ui segment" align="center">
                    @if (ViewBag.disable == 0)
                    {
                        <button id="agree" class="positive ui button" style="width: 25%">同意</button>
                        <button id="noagr" class="negative ui button" style="width: 25%">返回修改</button>
                        <p>如果同意以上内容请确定，不同意请填写更改意见后点击修改中</p>
                    }

                </div>
            </div>
            <input id="checknum" style="display: none" value="@ViewBag.model.Trade.Id"/>
        }
    }

</div>

@section scripts{
    <script>
        $("#agree").click(function() {
            var r = confirm("请仔细查看内容，确认后跳到签字界面！");
            if (r == true) {
                top.location = '../DetectionScheme/CompactSign?tradeid=' + $("#checknum").val();
            }
        });

        $("#noagr").click(function() {

            var r = confirm("请仔细查看合同，确定修改？");
            if (r == true) {
                var q1 = $("#modify").val();

                var c = $("#checknum").val();
                $.ajax({
                    url: '../DetectionScheme/Modify',
                    type: 'post',
                    data: { tradeid: c, modify: q1 },

                    error: function() {
                        alert('连接错误！');
                    },
                    success: function(data) {
                        alert("已提交修改，等待审核！");
                        top.location = '..';
                    }
                });
            }

        });
    </script>
}