@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using QualityControl.Db
@using QualityControl.Enum
@using QualityControl.Models
@model QualityControl.Db.Trade
@{
    var p = JsonConvert.DeserializeObject<ProductCopy>(Model.Product);
    var files = JsonConvert.DeserializeObject<JArray>(Model.Result.Files);
}
<div class="am-margin am-padding container">
    <h1 class="am-text-center">检测报告</h1>
    <h3 class="am-text-center">样品名称: @p.Name</h3>
    <h3 class="am-text-center">生产机构: @ViewBag.Company.Name</h3>
    <h3 class="am-text-center">检测机构 : @ViewBag.SGS.Name</h3>
    <div class="ui divider"></div>
    <h2 class="am-text-center">注意事项</h2>
    <p> 1、 本报告无“检验报告专用章”或检验单位公章无效。</p>
    <p>2、 复制本报告未重新加盖“检验报告专用章”或检验单位公章无效。</p>
    <p>3、 报告无编制、审核、批准人签字无效。</p>
    <p>4、 报告涂改无效。</p>
    <p>5、 未经本公司书面批准，不得部分复制本报告。</p>
    <p>6、 对检验报告若有异议，应于收到本报告之日起15日内向本实验室提出，过期不予受理。</p>
    <p>7、 报告仅对来样负责，受检样品务必在收到本实验室报告一个月内领取，逾期不领者本实验室将自行处理。</p>
    <div class="ui divider"></div>
    <h2 class="am-text-center">检测报告明细</h2>

    @foreach (var b in Model.Batches)
    {
        <div class="ui  segments">
            <div class="ui secondary segment">
                <p>批次: @b.BatchName</p>
            </div>
            <style>
                .divided.segments row { border-bottom: 1px solid #d7d7d7; }
            </style>
            <div class="ui segment divided">
                <div class="ui grid">
                    <div class="row">
                        <div class="four wide column">
                            <span class="ui horizontal gray label">样品名称</span> @b.Report.SampleName
                        </div>
                        <div class="four wide column">
                            <span class="ui horizontal gray label">规格</span> @b.Report.Specification
                        </div>
                        <div class="four wide column">
                            <span class="ui horizontal gray label">检验类别</span> @b.Report.TestType
                        </div>
                        <div class="four wide column">
                            <span class="ui horizontal gray label">样品状况/等级</span> @b.Report.SampleRank
                        </div>
                    </div>

                    <div class="row">
                        <div class="four wide column">
                            <span class="ui horizontal gray label">委托单位</span> @b.Report.Trustor
                        </div>
                        <div class="twelve wide column">
                            <span class="ui horizontal gray label">委托单位地址</span> @b.Report.TrustorAddress
                        </div>
                    </div>

                    <div class="row">
                        <div class="four wide column">
                            <span class="ui horizontal gray label">商标</span> @b.Report.Brand
                        </div>
                        <div class="four wide column">
                            <span class="ui horizontal gray label">送样人</span> @b.Report.Deliverer
                        </div>
                        <div class="four wide column">
                            <span class="ui horizontal gray label">送样日期</span> @b.Report.DeliveryDate
                        </div>
                        <div class="four wide column">
                            <span class="ui horizontal gray label">生产日期</span> @b.Report.ProducingDate
                        </div>
                    </div>

                    <div class="row">
                        <div class="sixteen column">
                            <span class="ui horizontal gray label">生产单位/地址</span> @b.Report.ProducingAddress
                        </div>
                    </div>

                    <div class="row">
                        <div class="four wide column">
                            <span class="ui horizontal gray label">主检人</span> @b.Report.Manager
                        </div>
                        <div class="four wide column">
                            <span class="ui horizontal gray label">检验日期</span> @b.Report.CheckDate
                        </div>
                    </div>

                    <div class="row">
                        <div class="sixteen column">
                            <span class="ui horizontal gray label">检验项目</span> @b.Report.ProjectName
                        </div>
                    </div>
                    <div class="row">
                        <div class="sixteen column">
                            <span class="ui horizontal gray label">检验依据/标准</span> @b.Report.Standard
                        </div>
                    </div>
                    <div class="row">
                        <div class="sixteen column">
                            <span class="ui horizontal gray label">检验结论</span> @b.Report.Conclusion
                        </div>
                    </div>
                    <div class="row">
                        <div class="sixteen column">
                            <span class="ui horizontal gray label">使用仪器设备及编号</span> @b.Report.Equipment
                        </div>
                    </div>
                    <div class="row">
                        <div class="sixteen column">
                            <span class="ui horizontal gray label">备注</span> @b.Report.Note
                        </div>
                    </div>
                </div>
                @{
                    var arr = JsonConvert.DeserializeObject<JObject>(b.Report.DectectionItems);
                }
                <table class="ui celled table">
                    <thead>
                    <tr>
                        <th>检测项目</th>
                        <th>结果</th>
                        @if (Model.Status == (int) EnumTradeStatus.Finish)
                        {
                            <th>是否合格</th>
                        }
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in arr)
                    {
                        <tr>
                            <td>@item.Key</td>
                            <td>@item.Value</td>
                            @if (Model.Status == (int) EnumTradeStatus.Finish)
                            {
                                <td>@(b.Report.DectectionItemResults ? "是" : "否")</td>
                            }
                        </tr>
                    }
                    </tbody>
                </table>

                @if (ViewBag.User.Type == (int) EnumUserType.Controller && Model.Status != (int) EnumTradeStatus.Finish)
                {
                    <div class="ui form check-form">
                        <div class="inline fields">
                            <label style="color: #ff0000;">该批次是否通过审核</label>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="CheckResult-@b.Id" data-id="@b.Id" value="true">
                                    <label>合格</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="CheckResult" data-id="@b.Id" value="false">
                                    <label>不合格</label>
                                </div>
                            </div>
                        </div>

                    </div>
                }

            </div>
        </div>


        <table class="ui celled table file-table">
            <thead>
            <tr>
                <th>文件名</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var file in files)
            {
                <td>
                    <a href="@(file["url"])" download="">@(file["name"])</a>
                </td>
            }
            </tbody>
        </table>
    }

    @if (ViewBag.User.Type == (int) EnumUserType.Controller && Model.Status != (int) EnumTradeStatus.Finish)
    {
        <button class="ui primary button submit-btn">提交审核</button>
    }

</div>

@section scripts{
    <script>
        $(function() {
            var $forms = $('.check-form');

            $('.submit-btn').click(function() {
                var data = {};
                var flag = true;
                $forms.each(function() {
                    var $this = $(this);
                    var $i = $this.find('input[type=radio]:checked');
                    var val = $i.val();
                    if (val == undefined) {
                        flag = false;
                        return false;
                    }
                    data[$i.data('id')] = val;
                });
                if (!flag) {
                    alert('请审核每个批次');
                    return;
                }
                $.ajax({
                    url: '/Trade/Report',
                    type: 'post',
                    data: {
                        id: '@Model.Id',
                        data: JSON.stringify(data)
                    },
                    success: function() {
                        window.location = "/Trade/tradeDetail/@Model.Id";
                    },
                    error: function() {
                        alert('操作失败，请刷新重试');
                    }
                });
            });
        });
    </script>
}