@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Newtonsoft.Json
@using QualityControl.Db
@using QualityControl.Enum
@model QualityControl.Db.SGS
@using Newtonsoft.Json.Linq;
@using Newtonsoft.Json;
@using System.Linq;

<div class="am-margin am-padding container ">


    <div class="verborder">
        @if (Model != null)
        {
            <div class="ui raised segment">
                <div class="am-cf">
                    <a class="ui red ribbon label zh  fw-normal-force">机构信息</a>
                    <span>@Model.Name</span>
                    @if (Model.Status == EnumStatus.Unchecked)
                    {
                        <span class="ui type tag label teal am-fr">有更改在审核中</span>
                    }
                    else if (Model.Status == EnumStatus.FirstUncheked)
                    {
                        <span class="ui type tag label teal am-fr">企业信息尚未通过</span>
                    }
                </div>
                <p class="ui divider"></p>
                <div class="ui divided selection list">
                    <a class="item">
                        <div class="ui horizontal grey label zh fw-normal-force">法人姓名</div>
                        @Model.CorporationName
                    </a>
                    <a class="item">
                        <div class="ui horizontal grey label zh fw-normal-force">联系方式</div>
                        @Model.Tel
                    </a>
                    <a class="item">
                        <div class="ui horizontal grey label zh fw-normal-force">注册地址</div>
                        @Model.Address
                    </a>
                    <a class="item">
                        <div class="ui horizontal grey label zh fw-normal-force">资政编号</div>
                        @Model.License
                    </a>
                    <a class="item">
                        <div class="ui horizontal grey label zh fw-normal-force">类型说明</div>
                        @Model.Type
                    </a>
                </div>
                <div class="ui divider"></div>
                <div class="am-cf">
                    <span class="zh">修改将会覆盖未审核通过的修改内容</span>
                    <a class="ui right floated button primary" href="/SGS/Save">修改</a>
                </div>
            </div>

            <div class="am-margin"></div>
            if (Model.Status == EnumStatus.Unchecked)
            {
                var jsonData = JsonConvert.DeserializeObject<SGS>(Model.UpdateJson);

                <div class="ui raised segment">
                    <div class="am-cf">
                        <a class="ui red ribbon label zh  fw-normal-force">企业信息修改副本</a>
                        <span>@jsonData.Name</span>
                        <span class="ui type tag label teal am-fr">未审核</span>
                    </div>
                    <p class="ui divider"></p>
                    <div class="ui divided selection list">
                        <a class="item">
                            <div class="ui horizontal grey label zh fw-normal-force">法人姓名</div>
                            @jsonData.CorporationName
                        </a>
                        <a class="item">
                            <div class="ui horizontal grey label zh fw-normal-force">联系方式</div>
                            @jsonData.Tel
                        </a>
                        <a class="item">
                            <div class="ui horizontal grey label zh fw-normal-force">注册地址</div>
                            @jsonData.Address
                        </a>
                        <a class="item">
                            <div class="ui horizontal grey label zh fw-normal-force">资政编号</div>
                            @jsonData.License
                        </a>
                        <a class="item">
                            <div class="ui horizontal grey label zh fw-normal-force">类型说明</div>
                            @jsonData.Type
                        </a>
                    </div>
                    <div class="ui divider"></div>
                </div>
            }
        }
        else
        {
            <div class="am-text-center">
                <a class="ui animated teal fade button" tabindex="0" href="/SGS/Save">
                    <div class="visible content zh fw-normal">完善机构信息</div>
                    <div class="hidden content">
                        <i class="right arrow icon"></i>
                    </div>
                </a>
            </div>
        }

    </div>

    <br />
    <div class=" six wide field">
        <div class="am-text-center ui segment">
            <a href="/Event/Current?type=0" class="ui red statistic">
                <div class="value"><i class="at icon"></i> @ViewBag.a</div>
                <div class="label">已完成管控</div>
            </a>
            <a href="/Event/Current?type=1" class="ui orange statistic">
                <div class="value"><i class="spinner icon"></i> @ViewBag.i</div>
                <div class="label">正在进行中的合同</div>
            </a>

        </div>
    </div>



    <br />
    <div class="ui container">
        <div class="row">
            <div class="column">
                <div class="ui message">
                    <h1 class="ui header">推荐商品</h1>
                    <div class="ui three cards">
                        <div class="card">
                            <div class="image">
                                @{
                                    var list = ViewBag.list as List<Product>;
                                    var jarray = (JArray)JsonConvert.DeserializeObject(list.ElementAt(0).Image);
                                    string ja1a = jarray[0].ToString();
                                }
                                <img src="@ja1a">
                            </div>
                            <div class="extra center aligned">
                                <p>@list.ElementAt(0).Name</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image">
                                @{
                                    var jarray1 = (JArray)JsonConvert.DeserializeObject(list.ElementAt(1).Image);
                                    string ja1a1 = jarray[0].ToString();
                                }
                                <img src="@ja1a1">
                            </div>
                            <div class="extra center aligned">
                                <p>@list.ElementAt(1).Name</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image">
                                @{
                                    var jarray2 = (JArray)JsonConvert.DeserializeObject(list.ElementAt(1).Image);
                                    string ja1a2 = jarray[0].ToString();
                                }
                                <img src="@ja1a2">
                            </div>
                            <div class="extra center aligned">
                                <p>@list.ElementAt(2).Name</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>