
@{
    ViewBag.Title = "CompanyProductIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<QualityControl.Db.Product>
@section head{
<link href="~/Scripts/bower_components/datatables/media/css/jquery.dataTables.css" rel="stylesheet" />

    <style>
        .main-container {
            background-color: #FFFFFF;
            margin: 0em auto;
            box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
            padding: 2em 2em 7em;
            z-index: 1;
        }
        .mycontent {
            margin-bottom:30px;
        }
    </style>
}

<div class="main-container">
    <h2 class="ui dividing header">
        产品管理
        <a class="anchor" id="types"></a>
    </h2>
    <div>
        <a href="/Product/CompanyProductSave" class="ui button blue icon" ><i class="add circle icon"></i>添加产品</a>
    </div>

    <table class="ui  celled  table">
        <thead class="">
            <tr>
                <th>名称</th>
                <th>产品种类</th>
                <th>许可证号</th>
                <th>发证日期</th>
                <th>生产标准</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @{ 
                ViewBag.count = Model.Count;
            }
            @if (ViewBag.count == 0)
            {
               
            }
            else
            {
                foreach (var Tempx in Model)
                {
                    <tr>

                        <td>@Tempx.Name</td>
                        <td>@Tempx.Type.Title</td>
                        <td>@Tempx.ProductionCertificateNo</td>
                        <td>@Tempx.GetDate</td>
                        <td>@Tempx.Standard</td>

                        <td>
                            <div class="2  fluid ui">
                                <button class="ui  button" onclick="See(@Tempx.Id)">详细</button>
                                <button class="ui  button" onclick="Edit(@Tempx.Id)">修改</button>
                                <a class="ui  button" href="/Product/CpDel/@Tempx.Id">删除</a>
                            </div>
                        </td>
                    </tr>
                }
            }

        </tbody>
        <tfoot>
            <tr></tr>
        </tfoot>
    </table>
</div>
<div class="ui  modal" id="seecp">
    <i class="close icon"></i>
    <div class="header" id="scpname">
        标题
    </div>
    <div class=" content mycontent">

        <form class="ui form"  id="" >                     
            <div class="field">
                <label>生产许可证号</label>
                <input disabled type="text" name="ProductionCertificateNo" placeholder="生产许可证号" id="scpProductionCertificateNo">
            </div>
            <div class="field">
                <label>颁发日期</label>
                <input  disabled type="date" name="GetDate" placeholder="颁发日期" id="scpgetdate">
            </div>
            <div class="field">
                <label>生产标准</label>
                <input disabled type="text" name="Standard" placeholder="生产标准" id="scpstandard">
            </div>
            <div class="field">
                <label>产品类别</label>
                <input disabled name="ProductTypeId" id="scpProductTypeId"/>
            
                
            </div>
            <div class="field">
                <label>产品状态</label>
                <select disabled name="CompanyProductStatus" id="scpCompanyProductStatus">
                    <option value="1">正在生产</option>
                    <option value="0">停产</option>
                </select>
            </div>
           
        </form>

    </div>
  
</div>



<div class="ui  modal" id="edit">
    <i class="close icon"></i>
    <div class="header" id="typetitle">
        产品信息修改
    </div>
    <div class=" content mycontent">

        <form class="ui form" action="/Product/CpEdit" id="editform">
            <input name="CompanyId" style="display: none" value="@ViewBag.cid">
            <input name="Id" style="display:none" id="cpid">
            <div class="field">
                <label>名称</label>
                <input type="text" name="Name" placeholder="名称" id="cpname">
            </div>
            <div class="field">
                <label>生产许可证号</label>
                <input type="text" name="ProductionCertificateNo" placeholder="生产许可证号" id="cpProductionCertificateNo">
            </div>
            <div class="field">
                <label>颁发日期</label>
                <input type="date" name="GetDate" placeholder="颁发日期" id="cpgetdate">
            </div>
            <div class="field">
                <label>生产标准</label>
                <input type="text" name="Standard" placeholder="生产标准" id="cpstandard">
            </div>

           
            <div class="ui error message"></div>
        </form>

    </div>
    <div class="actions">
        <button class="ui green button" onclick="sub()">确定修改</button>
    </div>
</div>


<div class="ui  modal" id="AddModel">
    <i class="close icon"></i>
    <div class="header" id="addtypetitle">
        产品添加
    </div>
    <div class=" content mycontent" >

        <form class="ui form" method="post" action="/Product/CpAdd"   id="addform">
            <input name="CompanyId" style="display:none" value="@ViewBag.cid" >
            <div class="field">
                <label>名称</label>
                <input type="text" name="Name" placeholder="名称">
            </div>
            <div class="field">
                <label>生产许可证号</label>
                <input type="text" name="ProductionCertificateNo" placeholder="生产许可证号">
            </div>
            <div class="field">
                <label>颁发日期</label>
                <input type="date" name="GetDate" placeholder="颁发日期">
            </div>
            <div class="field">
                <label>生产标准</label>
                <input type="text" name="Standard" placeholder="生产标准">
            </div>

            @{ Html.RenderAction("_ChooseType", "Product", new {name="add"}); }
         
            <div class="ui error message"></div>
        </form>

    </div>
    <div class="actions">
        <button class="ui green button" onclick="Addsub()">提交</button>
    </div>

</div>


@section scripts{
<script src="~/Scripts/bower_components/datatables/media/js/jquery.dataTables.js"></script>

<script>
        $(document).ready(function () {
            $('table').DataTable({
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
                    "sInfoEmpty": "共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }

                },
                "bLengthChange": false
            });
        });

        function See(x) {
            $.ajax({
                type: 'Get',
                url: '/Product/GetCpInfo',
                data: { id: x },
                success: function(data) {
                    
                    $("#scpname").html(data.cp.Name);
                    $("#scpid").val(data.cp.Id);
                    $("#scpProductionCertificateNo").val(data.cp.ProductionCertificateNo);
                    $("#scpgetdate").val(data.cp.GetDate);
                    $("#scpstandard").val(data.cp.Standard);
                    $("#scpProductTypeId").val(data.tname);
                   
                  

                    $('#seecp').modal('show');
                },
                dataType: "json"
            });

        };


        function Edit(id) {

            $.ajax({
                type: 'Get',
                url: '/Product/GetCpInfo',
                data: { id: id },
                success: function(data) {
                    $("#cpname").val(data.cp.Name);
                    $("#cpid").val(data.cp.Id);
                    $("#cpProductionCertificateNo").val(data.cp.ProductionCertificateNo);
                    $("#cpgetdate").val(data.cp.GetDate);
                    $("#cpstandard").val(data.cp.Standard);
                 
                    $('#edit').modal('show');
                },
                dataType: "json"
            });

        };

        function Add() {
            $('#AddModel').modal('show');
        }

        function sub() {
            $("#editform").submit();
        }

        function Addsub() {
            $("#addform").submit();
        }

        //表单验证
        $('.ui.form')
            .form({
                fields: {
                    name: {
                        identifier: 'Title',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入名称！'
                            }
                        ]
                    },
                    Description: {
                        identifier: 'Description',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入描述！'
                            }
                        ]
                    }

                }
            });
</script>
}




