
@{
    ViewBag.Title = "CompanyProductIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<QualityControl.Db.Product>
@section head{
    <link href="~/Scripts/bower_components/datatables/media/css/jquery.dataTables.css" rel="stylesheet" />

    <style>
        .main-container {
            background-color: #FFFFFF;
            margin: 0em auto;
            box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
            padding: 2em 2em 7em;
            z-index: 1;
        }

        .mycontent {
            margin-bottom: 30px;
        }
    </style>
}

<div class="main-container">
    <h2 class="ui dividing header">
        产品管理
        <a class="anchor" id="types"></a>
    </h2>
    <div>
        <a class="ui button blue icon" href="/Product/CompanyProductSave"><i class="add circle icon"></i>添加产品</a>
    </div>

    <table class="ui  celled  table">
        <thead class="">
            <tr>
                <th>名称</th>
                <th>产品种类</th>
                <th>许可证号</th>
                <th>发证日期</th>
                <th>生产标准</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var Tempx in Model)
            {
                <tr>

                    <td>@Tempx.Name</td>
                    <td>@Tempx.Type.SecondType.FirstType.Title / @Tempx.Type.SecondType.Title / @Tempx.Type.Title</td>
                    <td>@Tempx.ProductionCertificateNo</td>
                    <td>@Tempx.GetDate</td>
                    <td>@Tempx.Standard</td>
                    <td>
                        <div class="2  fluid ui">
                            <a class="ui  button" href="/Product/CompanyProductInfo/@Tempx.Id">详细</a>
                            <a class="ui  button" href="/Product/CompanyProductSave/@Tempx.Id">修改</a>
                            <a class="ui  button delete-btn" data-id="@Tempx.Id">删除</a>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
        <tfoot>
            <tr></tr>
        </tfoot>
    </table>
</div>


@section scripts{
    <script src="~/Scripts/bower_components/datatables/media/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('table').DataTable({
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
                    "sInfoEmpty": "共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }

                },
                "bLengthChange": false
            });
        });

        $('.delete-btn').click(function () {
            var $this = $(this);
            var id = $this.data('id');

            $.ajax({
                url: '/Product/CompanyProductRemove',
                data: {
                    id: id
                },
                success: function () {
                    $this.parents('tr').remove();
                },
                error: function () {
                    alert('操作失败，请刷新重试');
                }
            });
        });
    </script>


}




