
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Newtonsoft.Json
@model QualityControl.Db.Product
<div class="am-margin am-padding container ">
    <div class="verborder">
        <div class="ui raised segment">
            <div class="am-cf">
                <a class="ui red ribbon label zh  fw-normal-force">企业产品信息</a>
                <span>@Model.Name</span>
                @if (Model.Status == QualityControl.Enum.EnumStatus.Unchecked)
                {
                    <span class="ui type tag label teal am-fr">有更改在审核中</span>
                }
                else if (Model.Status == QualityControl.Enum.EnumStatus.FirstUncheked)
                {
                    <span class="ui type tag label teal am-fr">信息尚未通过</span>
                }
            </div>
            <p class="ui divider"></p>
            <div class="ui divided selection list">
                <a class="item">
                    <div class="ui horizontal grey label zh fw-normal-force">价格</div>
                    @Model.Price
                </a>
                <a class="item">
                    <div class="ui horizontal grey label zh fw-normal-force">生产许可证编号</div>
                    @Model.ProductionCertificateNo
                </a>
                <a class="item">
                    <div class="ui horizontal grey label zh fw-normal-force">执行标准</div>
                    @Model.Standard
                </a>
                <a class="item">
                    <div class="ui horizontal grey label zh fw-normal-force">颁发日期</div>
                    @Model.GetDate
                </a>
                <a class="item">
                    <div class="ui horizontal grey label zh fw-normal-force">类型</div>
                    @Model.Type.SecondType.FirstType.Title / @Model.Type.SecondType.Title / @Model.Type.Title
                </a>

            </div>
            <div class="ui divider"></div>
            <div class="am-cf">
                <span class="zh">修改将会覆盖未审核通过的修改内容</span>
                <a class="ui right floated button primary" href="/Product/CompanyProductSave/@Model.Id">修改</a>
            </div>
        </div>

        <div class="am-margin"></div>
        @if (Model.Status == QualityControl.Enum.EnumStatus.Unchecked)
            {
                var jsonData = JsonConvert.DeserializeObject<QualityControl.Db.Product>(Model.UpdateJson);

            <div class="ui raised segment">
                <div class="am-cf">
                    <a class="ui red ribbon label zh  fw-normal-force">企业信息修改副本</a>
                    <span>@jsonData.Name</span>
                    <span class="ui type tag label teal am-fr">未审核</span>
                </div>
                <p class="ui divider"></p>
                <div class="ui divided selection list">
                    <a class="item">
                        <div class="ui horizontal grey label zh fw-normal-force">价格</div>
                        @jsonData.Price
                    </a>
                    <a class="item">
                        <div class="ui horizontal grey label zh fw-normal-force">生产许可证编号</div>
                        @jsonData.ProductionCertificateNo
                    </a>
                    <a class="item">
                        <div class="ui horizontal grey label zh fw-normal-force">执行标准</div>
                        @jsonData.Standard
                    </a>
                    <a class="item">
                        <div class="ui horizontal grey label zh fw-normal-force">v</div>
                        @jsonData.GetDate
                    </a>
                    <a class="item">
                        <div class="ui horizontal grey label zh fw-normal-force">类型</div>
                        @jsonData.Type.SecondType.FirstType.Title / @jsonData.Type.SecondType.Title / @jsonData.Type.Title
                    </a>
                </div>
                <div class="ui divider"></div>
            </div>
        }

    </div>
</div>
