@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model QualityControl.Db.Product
@section head{
    <title>企业产品信息</title>
}

<div class="am-margin-lg am-padding-lg ui center aligned container">
    <div class="am-padding-horizontal-lg">
        <div class="am-padding-horizontal-lg">
            <form class="ui form segment" method="post">
                <h2>企业产品信息</h2>
                <div class="two fields">
                    <div class="field">
                        <label>产品名称</label>
                        <input placeholder="产品名称" name="Name" type="text" value="@(Model != null ? Model.Name : "")">
                    </div>
                    <div class="field">
                        <label>价格</label>
                        <input placeholder="价格" name="Price" type="number" value='@(Model != null ? Model.Price.ToString() : "")'>
                    </div>
                </div>
                
                @Html.Action("_ChooseType")

                <div class="field">
                    <label>生产许可证编号</label>
                    <input placeholder="生产许可证编号" name="ProductionCertificateNo" type="text" value="@(Model != null ? Model.ProductionCertificateNo : "")">
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>执行标准</label>
                        <input placeholder="执行标准" name="Standard" type="text" value="@(Model != null ? Model.Standard : "")">
                    </div>
                    <div class="field">
                        <label>颁发日期</label>
                        <input placeholder="颁发日期" name="GetDate" type="date" value="@(Model != null ? Model.GetDate : "")">
                    </div>
                </div>
                <div class="ui error message"></div>
                <div class="ui red cancel button">取消</div>
                <div class="ui blue submit button">保存</div>
            </form>
        </div>
    </div>

</div>

@section Scripts{
    <script>
    $(function () {
        $('.ui.form').form({
            on: 'blur',
            fields: {
                Name: {
                    identifier: 'Name',
                    rules: [
                      {
                          type: 'empty',
                          prompt: '请输入产品名称'
                      }
                    ]
                },
                Price: {
                    identifier: 'Address',
                    rules: [
                      {
                          type: 'empty',
                          prompt: '请输入价格'
                      },
                      {
                          type: 'decimal',
                          prompt: '请输入价格'
                      }
                    ]
                },
                EstablishedTime: {
                    identifier: 'EstablishedTime',
                    rules: [
                      {
                          type: 'empty',
                          prompt: '请输入企业成立时间'
                      }
                    ]
                },
                ProductionCertificateNo: {
                    identifier: 'License',
                    rules: [
                      {
                          type: 'empty',
                          prompt: '请输入生产许可证编号'
                      }
                    ]
                },
                Standard: {
                    identifier: 'CorporationName',
                    rules: [
                      {
                          type: 'empty',
                          prompt: '请输入执行标准'
                      }
                    ]
                },
                GetDate: {
                    identifier: 'CorporationIdentity',
                    rules: [
                      {
                          type: 'empty',
                          prompt: '请输入正确的身份证号'
                      }
                    ]
                },
                ProductTypeId: {
                    identifier: 'ProductTypeId',
                    rules: [
                        {
                            type: 'empty',
                            prompt: '请选择类型'
                        }
                    ]
                }
            }
        })
        ;
    });
    </script>
}


